pytest                                              # see : https://github.com/pytest-dev/pytest
typing                                              # see : https://pypi.org/project/typing/
git+https://github.com/bitranox/lib_regexp.git      # see: https://github.com/lib_regexp
